{% extends 'base.html' %}

{% block title %} Login page {% endblock title %}

{% block content %}




{% if message %}
  {{ message }}

{% endif %} 

 <form action="/log_in"8
  method="POST">
 	{{ form.hidden_tag() }}
   <p> 
   	{{ form.user_name.label }}
 
    {{ form.user_name }}
  </p>


  

 <p> 
      {{ form.password.label }}
      {{ form.password }}
  </p> 




  <p> 
      {{ form.submit.label }}
      {{ form.submit }}
  </p> 
   


 </form>


<a href="{{ url_for('sign_up') }}"> Sign Up </a>
 
  

{% endblock %}